/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* 

 */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}




body{
	background:#535353;
}
#draggable{
	position: fixed;
	left: 17%;
	top: 4%;
}



#conteneur{
	width: auto;
	height: auto;
	margin: auto;
	padding-top:20px;

	transition: all 1s ease;



}



ul{
	display: flex;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
}
li{
	margin-top: 2%;
	margin-left: 500px;
}

h1{
	font-family: courier new;
	font-size: 3em;
	color: #F5D0C5;
	margin-top: 50px;
	
	margin-left:50px;

	

}
h2{ font-family: courier new;
	font-size: 1em;
	color: #F5D0C5;
	
	

	
}
h2:hover{
	font-size:2em;
}

h3{
	font-family: courier new;
	font-size: 1em;
	color: #F5D0C5;
	margin-left:-400px;

	
	
}
h3:hover{
	font-size:2em;
}
footer{

	height:7%;
	width: 100%;
	background-color: grey;
	margin-top: 600px;
	padding-top: 3%;
	
}

h4{
	font-family: courier new;
	font-size: 0,1em;
	margin-left:42%;
	
	
	color: white;
}
#images{
	
	display: inline-block;
	
	
}
#images2{

	display: inline-block;
	
	

}

#tout{
	width:75%;
	height:120%;
	margin-left:10%;
	margin-top: 10%;

}
#video{
	margin-left:35%;
}
h5{
	margin-left: 35%;
	width: 33%;
	height: 5%;
	font-family: courier new;
	font-size: 1em;
	color: #F5D0C5;
	margin-bottom:5%;

}
#fleche{
	margin-left: 7%;
	margin-top: -3%;
		
	
}
